:root{
	--mainColor:#5083f1;
	--secondaryColor:#1b1a50;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(26, 26, 70, 0.8);
	--previewShadow:#282696;


	--buttonColor:#313bbe;


}
